.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown-btn img {
    margin-right: 8px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dropdown-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown-group select {
    padding: 5px;
    font-size: 14px;
    width: auto;
  }
  
  